
# KeyCloak
KEYCLOAK_CLIENT_ID='oauth-api' # Create this client in your HELM
KEYCLOAK_CLIENT_SECRET='Rgqr7C6vbLkwg4idT4dBKckTxsP69kBA' # GET from keycloak client by RELM
KEYCLOAK_ISSUER="http://localhost:8080/realms/DEV"
NEXT_PUBLIC_KEYCLOAK_ISSUER="http://localhost:8080/realms/DEV"
KEYCLOAK_REALM=DEV # Create this HELM in keycloak
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="rIqxRGTDs0oUEdObUNW0ZW7gKm22qWawuIk2rPaxttQ="